/* Shopping List Overlay */
.overlay--shopping-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* Shopping List Modal Window */
.shopping-list-window {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  padding: 2rem;
  width: 90%;
  max-width: 40rem;
  z-index: 101;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 80%;
}

.shopping-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure buttons are vertically aligned */
  padding: 1rem 0; /* Optional: Add padding for spacing */
}

/* Close Button */
.btn--close-shopping-list {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  align-self: center; /* Ensure it's aligned with other content */
}

/* Clear Shopping List Button */
.btn--clear-shopping-list {
  background-color: #f44336; /* Red background */
  color: #fff; /* White text */
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 4px;
  align-self: center; /* Ensure it's aligned with the close button */
}

.btn--clear-shopping-list:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

/* Styles for the empty shopping list message */
.shopping-list--message {
  text-align: center;
  font-size: 1.6rem;
  color: #555;
  padding: 2rem;
}

/* Shopping List Content */
.shopping-list-content {
  margin-top: 2rem;
}

/* Shopping List Item */
.shopping-list__item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #e2e2e2;
  font-size: 1.6rem;
}

.shopping-list__item:last-child {
  border-bottom: none;
}

.shopping-list__item .shopping-list__quantity {
  flex: 0 0 6rem;
  font-weight: bold;
  color: #555;
}

.shopping-list__item .shopping-list__description {
  flex: 1;
  color: #333;
}

.shopping-list__item .shopping-list__unit {
  margin-left: 0.5rem;
  color: #777;
}

.shopping-list__item .shopping-list__delete {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}

.shopping-list__item .shopping-list__delete svg {
  width: 2rem;
  height: 2rem;
  fill: #ff3b3b;
}

.shopping-list__item:hover {
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
}

.shopping-list--message {
  text-align: center;
  font-size: 1.6rem;
  color: #555;
  padding: 2rem;
}
