/* Shopping List Modal Window */
.shopping-list-window {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  padding: 2rem;
  width: 90%;
  max-width: 40rem;
  z-index: 101;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 80%;
}

/* Close Button */
.btn--close-shopping-list {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Shopping List Content */
.shopping-list-content {
  margin-top: 2rem;
}
